{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
    <h1>Asignaturas</h1>
    <br>
    <div class="row">
       <div class="col-md-5">
         <form class="" action="/guardarAsignatura/" method="post" enctype="multipart/form-data" id="frm_nuevo_asignatura">
           {% csrf_token %}
            <b>Seleccione el Curso:</b>
           <select class="form-control" name="id_cur" id="id_cur" required>
              <option value="">---SELECCIONE EL CURSO---</option >
              {%  for curso in cursos %}
              <option value="{{curso.idCurso_alm}}">{{curso.nivelCurso_alm}}</option>
              {% endfor %}
            </select>

           <br>
           <b>Nombre:</b>
           <input type="text" name="nombreAsignatura_alm" value="" id="nombreAsignatura_alm" placeholder="Ingrese el nombre" class="form-control" required><br>
           <b>Creditos:</b>
           <input type="text" name="creditosAsignatura_alm" value="" id="creditosAsignatura_alm" placeholder="Ingrese el credito" class="form-control" required><br>
           <b>Fecha Inicio:</b>
           <input type="date" name="fechaInicioAsignatura_alm" value="" id="fechaInicioAsignatura_alm" placeholder="Ingrese la fecha inicio" class="form-control" required>
           <br>
            <b>Fecha Finalizacion:</b>
           <input type="date" name="fechaFinalizacionAsignatura_alm" value="" id="fechaFinalizacionAsignatura_alm" placeholder="Ingrese la fecha finalizacion" class="form-control" required>
           <br>
           <b>Profesor:</b>
          <input type="text" name="profesorAsignatura_alm" value="" id="profesorAsignatura_alm" placeholder="Ingrese el profesor" class="form-control" required>
          <br>
           <b>Silabo PDF</b>
          <input type="file" name="silaboAsignatura_alm" id="silaboAsignatura_alm" class="form-control">
          <br>
          <b>Horario:</b>
          <input type="text" name="horarioAsignatura_alm" value="" id="horarioAsignatura_alm" placeholder="Ingrese el horario" class="form-control" required>
          <br>
          <b>Descripcion:</b>
          <input type="text" name="descripcionAsignatura_alm" value="" id="descripcionAsignatura_alm" placeholder="Ingrese la descripcion" class="form-control" required>
          <br>

            <center>
              <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
              <button type="reset" name="button" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

            </center>


         </form>

       </div>
       <div class="col-md-7 text-center">
         <img src="{% static 'img/logo1.png' %}" alt=""  width="20%">
         <table class="table" id="tbl_asignaturas">
           <thead>
             <tr>
               <th>ID</th>
               <th>NOMBRE</th>
               <th>CREDITOS</th>
               <th>FECHA INICIO</th>
               <th>FECHA FINALIZACION</th>
               <th>PROFESOR</th>
               <th>SILABO</th>
               <th>HORARIO</th>
               <th>DESCRIPCION</th>
               <th>CURSO</th>

               <th>ACCIONES</th>


             </tr>

           </thead>
           <tbody>
             {% for asignatura in asignaturas %}
                <tr>
                  <td>{{asignatura.idAsignatura_alm}}</td>
                  <td>{{asignatura.nombreAsignatura_alm}}</td>
                  <td>{{asignatura.creditosAsignatura_alm}}</td>
                  <td>{{asignatura.fechaInicioAsignatura_alm}}</td>
                  <td>{{asignatura.fechaFinalizacionAsignatura_alm}}</td>
                  <td>{{asignatura.profesorAsignatura_alm}}</td>


                  <td>
                     {% if asignatura.silaboAsignatura_alm %}
                         <a href="{{ asignatura.silaboAsignatura_alm.url }}" target="_blank">{{ asignatura.silaboAsignatura_alm.name }}</a>
                     {% else %}
                         <b>N/A</b>
                     {% endif %}
                 </td>

                  <td>{{asignatura.horarioAsignatura_alm}}</td>
                  <td>{{asignatura.descripcionAsignatura_alm}}</td>
                  <td>{{asignatura.curso.nivelCurso_alm}}</td>




                  <td>
                        <a href="/editarAsignatura/{{asignatura.idAsignatura_alm}}" class="btn btn-warning">Editar</a>
                        <a href="javascript: void(0)" onclick="eliminarAsignatura('/eliminarAsignatura/{{asignatura.idAsignatura_alm}}');" class="btn btn-danger">Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
           </tbody>

         </table>
       </div>
    </div>

    <script type="text/javascript">
        function eliminarAsignatura(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar la asignatura seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
      </script>

      <script type="text/javascript">
        $("#frm_nuevo_asignatura").validate({
          rules:{
            "nombreAsignatura_alm":{
            required:true
           },
            "creditosAsignatura_alm":{
              required:true
            },
            "fechaInicioAsignatura_alm":{
              required:true
            },
            "fechaFinalizacionAsignatura_alm":{
              required:true
            },
            "profesorAsignatura_alm":{
              required:true
            },
            "silaboAsignatura_alm":{
              required:true
            },
            "horarioAsignatura_alm":{
              required:true
            },
            "descripcionAsignatura_alm":{
              required:true
            }


          },
          messages:{
            "id_cur":{
            required:"Por favor seleccione el curso"
           },
           "nombreAsignatura_alm":{
             required:"Ingrese el nombre"
           },
           "creditosAsignatura_alm":{
             required:"Ingrese los creditos"
           },
           "fechaInicioAsignatura_alm":{
             required:"Ingrese la fecha inicio "
           },
           "fechaFinalizacionAsignatura_alm":{
             required:"Ingrese la fecha finalizacion"
           },
           "profesorAsignatura_alm":{
             required:"Ingrese el profesor"
           },
           "silaboAsignatura_alm":{
             required:"Ingrese el silabo"
           },
           "horarioAsignatura_alm":{
             required:"Ingrese el horario"
           },
           "descripcionAsignatura_alm":{
             required:"Ingrese la descripcion"
           }



          },
        });
      </script>

      <script type="text/javascript">
       //let table = new DataTable('#tbl_clientes');
        $('#tbl_asignaturas').DataTable( {
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'pdfHtml5',
                messageTop: 'REPORTE DE AUTORES - DJANGO Y DATATABLES.'
            },
            'print',
            'csv'
          ],
          language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json" // Configura el idioma a español
              }
        } );
      </script>



    {% endblock %}
