{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
    <h1>Carreras</h1>
    <br>
    <div class="row">
       <div class="col-md-5">
         <form class="" action="/guardarCarrera/" method="post" enctype="multipart/form-data" id="frm_nuevo_carrera">
           {% csrf_token %}

           <br>
           <b>Nombre Carrera:</b>
           <input type="text" name="nombreCarrera_alm" value="" id="nombreCarrera_alm" placeholder="Ingrese el nombre de carrera" class="form-control" required><br>
           <b>Director Carrera:</b>
           <input type="text" name="directorCarrera_alm" value="" id="directorCarrera_alm" placeholder="Ingrese el director de carrera" class="form-control" required><br>
           <b>Extencion Carrera:</b>
           <input type="text" name="extencionCarrera_alm" value="" id="extencionCarrera_alm" placeholder="Ingrese la extencion de carrera" class="form-control" required><br>
           <b>Duracion Carrera:</b>
           <input type="text" name="duracionCarrera_alm" value="" id="duracionCarrera_alm" placeholder="Ingrese el director de carrera" class="form-control" required><br>
           <b>Logo</b>
           <input type="file" name="logoCarrera_alm" accept="image/*" id="logoCarrera_alm" value="" class="form-control" >
            <br>


            <center>
              <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
              <button type="reset" name="button" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

            </center>


         </form>

       </div>
       <div class="col-md-7 text-center">
         <img src="{% static 'img/logo1.png' %}" alt=""  width="20%">
         <table class="table" id="tbl_carreras">
           <thead>
             <tr>
               <th>ID</th>
               <th>NOMBRE</th>
               <th>DIRECTOR</th>
               <th>EXTENCION</th>
               <th>DURACION</th>
               <th>LOGO</th>


               <th>ACCIONES</th>
             </tr>

           </thead>
           <tbody>
             {% for carrera in carreras %}
                <tr>
                  <td>{{carrera.idCarrera_alm}}</td>
                  <td>{{carrera.nombreCarrera_alm}}</td>
                  <td>{{carrera.directorCarrera_alm}}</td>
                  <td>{{carrera.extencionCarrera_alm}}</td>
                  <td>{{carrera.duracionCarrera_alm}}</td>


                  <td>
                  {% if carrera.logoCarrera_alm %}
                  <a href="{{carrera.logoCarrera_alm.url}}" target="_blank"><img src="{{carrera.logoCarrera_alm.url}}" alt="" height="50px">
                  {% else %}</a>

                  <b>N A</b>
                  {% endif %}
                </td>


                  <td>
                        <a href="/editarCarrera/{{carrera.idCarrera_alm}}" class="btn btn-warning">Editar</a>
                        <a href="javascript: void(0)" onclick="eliminarCarrera('/eliminarCarrera/{{carrera.idCarrera_alm}}');" class="btn btn-danger">Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
           </tbody>

         </table>
       </div>
    </div>

    <script type="text/javascript">
        function eliminarCarrera(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar la carrera seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
      </script>

      <script type="text/javascript">
        $("#frm_nuevo_carrera").validate({
          rules:{
            "nombreCarrera_alm":{
              required:true
            },
            "directorCarrera_alm":{
              required:true
            },
            "extencionCarrera_alm":{
              required:true
            },
            "duracionCarrera_alm":{
              required:true
            },
            "logoCarrera_alm":{
              required:true
            }


          },
          messages:{
            "nombreCarrera_alm":{
              required:"Ingrese el nombre de carrera"
            },
            "directorCarrera_alm":{
              required:"Ingrese el director de carrera"
            },
            "extencionCarrera_alm":{
              required:"Ingrese la extencion de carrera"
            },
            "duracionCarrera_alm":{
              required:"Ingrese la duracion de carrea"
            },
            "logoCarrera_alm":{
              required:"Ingrese el logo de la carrera"
            }


          }
        });
      </script>


      <script type="text/javascript">
         //let table = new DataTable('#tbl_clientes');
          $('#tbl_carreras').DataTable( {
              dom: 'Bfrtip',
              buttons: [
              {
                  extend: 'pdfHtml5',
                  messageTop: 'REPORTE DE GENEROS - DJANGO Y DATATABLES.'
              },
              'print',
              'csv'
            ],
            language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json" // Configura el idioma a español
                }
            });

        </script>



    {% endblock %}
