{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
    <h1>Cursos</h1>
    <br>
    <div class="row">
       <div class="col-md-5">
         <form class="" action="/guardarCurso/" method="post" enctype="multipart/form-data" id="frm_nuevo_curso">
           {% csrf_token %}
            <b>Seleccione La Carrera:</b>
           <select class="form-control" name="id_car" id="id_car" required>
              <option value="">---SELECCIONE LA CARRERA---</option >
              {%  for carrera in carreras %}
              <option value="{{carrera.idCarrera_alm}}">{{carrera.nombreCarrera_alm}}</option>
              {% endfor %}
            </select>

           <br>
           <b>Nivel Curso:</b>
           <input type="text" name="nivelCurso_alm" value="" id="nivelCurso_alm" placeholder="Ingrese el nivel" class="form-control" required><br>
           <b>Descripcion Curso:</b>
           <input type="text" name="descripcionCurso_alm" value="" id="descripcionCurso_alm" placeholder="Ingrese la descripcion" class="form-control" required><br>
           <b>Aula Curso:</b>
           <input type="text" name="aulaCurso_alm" value="" id="aulaCurso_alm" placeholder="Ingrese el aula" class="form-control" required>
           <br>

           <b>Horario Curso PDF</b>
          <input type="file" name="horarioCurso_alm" id="horarioCurso_alm" class="form-control">
          <br>
          <b>Profesor Curso:</b>
          <input type="text" name="profesorCurso_alm" value="" id="profesorCurso_alm" placeholder="Ingrese el profesor" class="form-control" required>
          <br>

            <center>
              <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
              <button type="reset" name="button" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

            </center>


         </form>

       </div>
       <div class="col-md-7 text-center">
         <img src="{% static 'img/.png' %}" alt=""  width="20%">
         <table class="table" id="tbl_cursos">
           <thead>
             <tr>
               <th>ID</th>
               <th>NIVEL</th>
               <th>DESCRIPCION</th>
               <th>AULA</th>
               <th>HORARIO PDF</th>
               <th>PROFESOR</th>
               <th>CARRERA</th>
               <th>ACCIONES</th>


             </tr>

           </thead>
           <tbody>
             {% for curso in cursos %}
                <tr>
                  <td>{{curso.idCurso_alm}}</td>
                  <td>{{curso.nivelCurso_alm}}</td>
                  <td>{{curso.descripcionCurso_alm}}</td>
                  <td>{{curso.aulaCurso_alm}}</td>


                  <td>
                     {% if curso.horarioCurso_alm %}
                         <a href="{{ curso.horarioCurso_alm.url }}" target="_blank">{{ curso.horarioCurso_alm.name }}</a>
                     {% else %}
                         <b>N/A</b>
                     {% endif %}
                 </td>


                  <td>{{curso.profesorCurso_alm}}</td>

                  <td>{{curso.carrera.nombreCarrera_alm}}</td>





                  <td>
                        <a href="/editarCurso/{{curso.idCurso_alm}}" class="btn btn-warning">Editar</a>
                        <a href="javascript: void(0)" onclick="eliminarCurso('/eliminarCurso/{{curso.idCurso_alm}}');" class="btn btn-danger">Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
           </tbody>

         </table>
       </div>
    </div>

    <script type="text/javascript">
        function eliminarCurso(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar el curso seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
      </script>

      <script type="text/javascript">
        $("#frm_nuevo_curso").validate({
          rules:{
            "nivelCurso_alm":{
            required:true
           },
            "descripcionCurso_alm":{
              required:true
            },
            "aulaCurso_alm":{
              required:true
            },
            "horarioCurso_alm":{
              required:true
            },
            "profesorCurso_alm":{
              required:true
            }

          },
          messages:{
            "id_car":{
            required:"Por favor seleccione la carrera"
           },
           "nivelCurso_alm":{
             required:"Ingrese el nivel"
           },
           "descripcionCurso_alm":{
             required:"Ingrese la descripcion"
           },
           "aulaCurso_alm":{
             required:"Ingrese el aula"
           },
           "horarioCurso_alm":{
             required:"Ingrese el horario"
           },
           "profesorCurso_alm":{
             required:"Ingrese el curso"
           }


          },
        });
      </script>

      <script type="text/javascript">
       //let table = new DataTable('#tbl_clientes');
        $('#tbl_cursos').DataTable( {
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'pdfHtml5',
                messageTop: 'REPORTE DE AUTORES - DJANGO Y DATATABLES.'
            },
            'print',
            'csv'
          ],
          language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json" // Configura el idioma a español
              }
        } );
      </script>



    {% endblock %}
