{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionCurso/" enctype="multipart/form-data" method="post" id="frm_nuevo_curso">
      {% csrf_token %}
      <b>Seleccione la carrera:</b>
      <select class="form-control" name="id_car" id="id_car" required>
         <option value="">---SELECCIONE LA CARRERA---</option >
         {%  for carrera in carreras %}
         <option value="{{carrera.idCarrera_alm}}">{{carrera.nombreCarrera_alm}}</option>
         {% endfor %}
       </select>
       <script type="text/javascript">
        document.getElementById("id_car").value="{{curso.carrera.idCarrera_alm}}";

       </script>



      <input type="hidden" name="idCurso_alm"  value="{{curso.idCurso_alm}}">
      <b>Nivel Curso:</b>
      <input type="text" name="nivelCurso_alm" value="{{curso.nivelCurso_alm}}" id="nivelCurso_alm" placeholder="Ingrese el nivel" class="form-control" required><br>
      <b>Descripcion Curso:</b>
      <input type="text" name="descripcionCurso_alm" value="{{curso.descripcionCurso_alm}}" id="descripcionCurso_alm" placeholder="Ingrese la descripcion" class="form-control" required><br>
      <b>Aula Curso:</b>
      <input type="text" name="aulaCurso_alm" value="{{curso.aulaCurso_alm}}" id="aulaCurso_alm" placeholder="Ingrese el aula" class="form-control" required>
      <br>
      <b>Horario Curso PDF</b>
     <input type="file" name="horarioCurso_alm" accept=".pdf" id="horarioCurso_alm" class="form-control">
     <br>
     <b>Profesor Curso:</b>
     <input type="text" name="profesorCurso_alm" value="{{curso.profesorCurso_alm}}" id="profesorCurso_alm" placeholder="Ingrese el profesor" class="form-control" required>


      <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/curso"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>

<script type="text/javascript">
  $("#frm_nuevo_curso").validate({
    rules:{
      "nivelCurso_alm":{
      required:true
     },
      "descripcionCurso_alm":{
        required:true
      },
      "aulaCurso_alm":{
        required:true
      },
      "horarioCurso_alm":{
        required:true
      },
      "profesorCurso_alm":{
        required:true
      }

    },
    messages:{
      "id_car":{
      required:"Por favor seleccione la carrera"
     },
     "nivelCurso_alm":{
       required:"Ingrese el nivel"
     },
     "descripcionCurso_alm":{
       required:"Ingrese la descripcion"
     },
     "aulaCurso_alm":{
       required:"Ingrese el aula"
     },
     "horarioCurso_alm":{
       required:"Ingrese el horario"
     },
     "profesorCurso_alm":{
       required:"Ingrese el curso"
     }


    },
  });
</script>
{% endblock %}
