{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionCarrera/" enctype="multipart/form-data"  method="post" id="frm_nuevo_carrera">
      {% csrf_token %}



      <input type="hidden" name="idCarrera_alm"  value="{{carrera.idCarrera_alm}}">
      <b>Nombre Carrera:</b>
      <input type="text" name="nombreCarrera_alm" value="{{carrera.nombreCarrera_alm}}" id="nombreCarrera_alm" placeholder="Ingrese el nombre de carrera " class="form-control" required><br>
      <b>Director Carrera:</b>
      <input type="text" name="directorCarrera_alm" value="{{carrera.directorCarrera_alm}}" id="directorCarrera_alm" placeholder="Ingrese el director de carrera" class="form-control" required><br>
      <b>Extencion Carrera:</b>
      <input type="text" name="extencionCarrera_alm" value="{{carrera.extencionCarrera_alm}}" id="extencionCarrera_alm" placeholder="Ingrese la extencion de carrera" class="form-control" required><br>
      <b>Duracion Carrera:</b>
      <input type="text" name="duracionCarrera_alm" value="{{carrera.duracionCarrera_alm}}" id="duracionCarrera_alm" placeholder="Ingrese el director de carrera" class="form-control" required><br>
      <br>

      <b>Logo</b>
            <div class="custom-file">
                <input type="file" name="logoCarrera_alm"  id="logoCarrera_alm" class="custom-file-input" accept="image/*" >
            </div>
            {% if carrera.logoCarrera_alm %}
                <img src="{{ carrera.logoCarrera_alm.url }}" alt="{{ carrera.logoCarrera_alm.name }}" height="60px">
            {% endif %}
      <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/carrera"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>

<script type="text/javascript">
  $("#frm_nuevo_carrera").validate({
    rules:{
      "nombreCarrera_alm":{
        required:true
      },
      "directorCarrera_alm":{
        required:true
      },
      "extencionCarrera_alm":{
        required:true
      },
      "duracionCarrera_alm":{
        required:true
      },
      "logoCarrera_alm":{
        required:true
      }


    },
    messages:{
      "nombreCarrera_alm":{
        required:"Ingrese el nombre de carrera"
      },
      "directorCarrera_alm":{
        required:"Ingrese el director de carrera"
      },
      "extencionCarrera_alm":{
        required:"Ingrese la extencion de carrera"
      },
      "duracionCarrera_alm":{
        required:"Ingrese la duracion de carrea"
      },
      "logoCarrera_alm":{
        required:"Ingrese el logo de la carrera"
      }


    }
  });
</script>

{% endblock %}
