{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionAsignatura/" enctype="multipart/form-data" method="post" id="frm_nuevo_asignatura">
      {% csrf_token %}
      <b>Seleccione el curso:</b>
      <select class="form-control" name="id_cur" id="id_cur" required>
         <option value="">---SELECCIONE EL CURSO---</option >
         {%  for curso in cursos %}
         <option value="{{curso.idCurso_alm}}">{{curso.nivelCurso_alm}}</option>
         {% endfor %}
       </select>
       <script type="text/javascript">
        document.getElementById("id_cur").value="{{asignatura.curso.idCurso_alm}}";

       </script>

       <input type="hidden" name="idAsignatura_alm"  value="{{asignatura.idAsignatura_alm}}">
       <b>Nombre:</b>
       <input type="text" name="nombreAsignatura_alm" value="{{asignatura.nombreAsignatura_alm}}" id="nombreAsignatura_alm" placeholder="Ingrese el nombre" class="form-control" required><br>
       <b>Creditos:</b>
       <input type="text" name="creditosAsignatura_alm" value="{{asignatura.creditosAsignatura_alm}}" id="creditosAsignatura_alm" placeholder="Ingrese el credito" class="form-control" required><br>
       <b>Fecha Inicio:</b>
       <input type="date" name="fechaInicioAsignatura_alm" value="{{asignatura.fechaInicioAsignatura_alm|date:'Y-m-d'}}" id="fechaInicioAsignatura_alm" placeholder="Ingrese la fecha inicio" class="form-control" required>
       <br>
        <b>Fecha Finalizacion:</b>
       <input type="date" name="fechaFinalizacionAsignatura_alm" value="{{asignatura.fechaFinalizacionAsignatura_alm|date:'Y-m-d'}}" id="fechaFinalizacionAsignatura_alm" placeholder="Ingrese la fecha finalizacion" class="form-control" required>
       <br>
       <b>Profesor:</b>
      <input type="text" name="profesorAsignatura_alm" value="{{asignatura.profesorAsignatura_alm}}" id="profesorAsignatura_alm" placeholder="Ingrese el profesor" class="form-control" required>
      <br>
       <b>Silabo PDF</b>
      <input type="file" name="silaboAsignatura_alm" accept=".pdf" id="silaboAsignatura_alm" class="form-control">
      <br>
      <b>Horario:</b>
      <input type="text" name="horarioAsignatura_alm" value="{{asignatura.horarioAsignatura_alm}}" id="horarioAsignatura_alm" placeholder="Ingrese el horario" class="form-control" required>
      <br>
      <b>Descripcion:</b>
      <input type="text" name="descripcionAsignatura_alm" value="{{asignatura.descripcionAsignatura_alm}}" id="descripcionAsignatura_alm" placeholder="Ingrese la descripcion" class="form-control" required>
      <br>


      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/asignatura"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>

<script type="text/javascript">
  $("#frm_nuevo_asignatura").validate({
    rules:{
      "nombreAsignatura_alm":{
      required:true
     },
      "creditosAsignatura_alm":{
        required:true
      },
      "fechaInicioAsignatura_alm":{
        required:true
      },
      "fechaFinalizacionAsignatura_alm":{
        required:true
      },
      "profesorAsignatura_alm":{
        required:true
      },
      "silaboAsignatura_alm":{
        required:true
      },
      "horarioAsignatura_alm":{
        required:true
      },
      "descripcionAsignatura_alm":{
        required:true
      }


    },
    messages:{
      "id_cur":{
      required:"Por favor seleccione el curso"
     },
     "nombreAsignatura_alm":{
       required:"Ingrese el nombre"
     },
     "creditosAsignatura_alm":{
       required:"Ingrese los creditos"
     },
     "fechaInicioAsignatura_alm":{
       required:"Ingrese la fecha inicio "
     },
     "fechaFinalizacionAsignatura_alm":{
       required:"Ingrese la fecha finalizacion"
     },
     "profesorAsignatura_alm":{
       required:"Ingrese el profesor"
     },
     "silaboAsignatura_alm":{
       required:"Ingrese el silabo"
     },
     "horarioAsignatura_alm":{
       required:"Ingrese el horario"
     },
     "descripcionAsignatura_alm":{
       required:"Ingrese la descripcion"
     }



    },
  });
</script>
{% endblock %}
